<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 align="center">Test the drone on a journey</h4>
          <br>
          <div class="row">
            <div class="col-lg-6">
              <br>
              <img src="../assets/drone.png" width="250" height="170">
            </div>
            <div class="col-lg-6">
              <form [formGroup]="testForm" (ngSubmit)="newTest(testForm.value)">
                <div class="form-group">
                  <label for="destination"><h5>Destination:</h5></label>
                  <select class="form-control" id="destination" formControlName="destination">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                  </select>
                  <label for="weights"><h5>Weights:</h5></label>
                  <select class="form-control" id="weights" formControlName="weights">
                    <option value="DQN">DQN</option>
                    <option value="DDQN">DDQN</option>

                  </select>
                  <label for="episodes"><h5>Episodes:</h5></label>
                  <select class="form-control" id="episodes" formControlName="episodes">
                    <option value="10">10</option>
                    <option value="100">100</option>
                  </select>
                  <br>
                  <button type="submit" class="btn btn-success">Perform testing</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 align="center">Train the drone</h4>
          <br>
          <div class="row">
            <div class="col-lg-6">
              <br>
              <img src="../assets/brain.png" width="168" height="133" align="center">
            </div>
            <div class="col-lg-6">
              <form [formGroup]="searchForm" (ngSubmit)="searchSubject(searchForm.value)">
                <div class="form-group">
                  <label for="newSubject"><h5>Destination</h5></label>
                  <select class="form-control" id="destination2" formControlName="filter">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                  </select>
                  <label for="newSubject"><h5>Training steps</h5></label>
                  <select class="form-control" id="steps" formControlName="filter">
                    <option value="1">150000</option>
                    <option value="2">250000</option>

                  </select>
                  <br>
                  <button type="submit" class="btn btn-primary">Start training</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



  <br>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
          <img src="../assets/routes.png" width="1110" height="815">
      </div>
    </div>
  </div>
</div>
