<div class=".container">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class=".container">
			<h3>Add student</h3>
			<form [formGroup]="addForm" (ngSubmit)="addStudent(addForm.value)">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type="text" class="form-control" id="name" formControlName="name" >
				</div>
				<div class="form-group">
					<label for="address">Address:</label>
					<input type="text" class="form-control" id="address" formControlName="address">
				</div>
				<button type="submit" class="btn btn-primary">Add</button>
			</form>
		</div>

		<div class=".container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
					<h3>Students</h3>
					<table class="table table-hover">
						<thead >
							<tr>
								<th>Name</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let student of students; " >
								<td (click)=showStudent(student)>{{student.name}}</td>
								<td><a  id="delete" (click)=delete(student)>Delete</a></td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class=".container col-xs-12 col-sm-12 col-md-12 col-lg-6" >
					<h3>Info student</h3>

					<form class="form-inline" [formGroup]="updateForm" (ngSubmit)="updateStudent(updateForm.value,student)">
						<label for="name"><h5>New name:  </h5></label>
						<input type="text" class="form-control" id="newName" formControlName="name">
						<label for="address"><h5>New address: </h5></label>
						<input type="text" class="form-control" id="newAddress" formControlName="address">
						<button type="submit" class="btn btn-primary" *ngIf="student">Update</button>
					</form>

					<form class="form-inline" [formGroup]="addPhone" (ngSubmit)="addPhones(addPhone.value,student)">
						<label for="phone"><h5>New phone: </h5></label>
						<input type="text" class="form-control" id="phone" formControlName="phones">
						<button type="submit" class="btn btn-primary" *ngIf="student">Add</button>
					</form>

					<table class="table">
						<thead >
							<tr>
								<th>Name</th>
								<th>Address</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{student.name}}</td>
								<td>{{student.address}}</td>
							</tr>
						</tbody>
					</table>

					<table class="table table-hover" >
						<thead >
							<tr>
								<th>Phones</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let phone of phones" >
								<td >{{phone}}</td>
								<td><a  id="delete" (click)=deletePhone(phone)>Delete</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>